# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# Data (important)
data/

# Mac
.DS_Store

# Kiro IDE
.kiro/
.claude/